html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --primary-bg-color-filter: #f5f4fa;
  --prinary-font-family: "Roboto", sant-serif;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: var(--prinary-font-family);
  margin: 0px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

/*======================HEADER======================*/
.section {
  border-bottom: 1px solid #ececec;
}

.container {
  display: flex;
  align-items: center;
  width: 1200px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-list {
  display: flex;
  margin-left: 93px;
}

.site-list .item + .item {
  margin-left: 50px;
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-list .item + .item {
  margin-left: 50px;
}

.logo-item {
  color: #2196f3;
}

.logo-header {
  color: #000000;
  font-family: "Raleway", sant-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.site-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
}

.site-link.current {
  color: var(--accent-color);
}

.site-link:hover,
.site-link:focus {
  color: var(--accent-color);
}

.contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.site-link,
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
/* ======================END HEADER====================== */

/*======================FOOTER======================*/

.footer {
  background-color: #2f303a;
}

.footer-section {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.footer-list .footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.logo-footer {
  color: #ffffff;
  font-family: "Raleway", sant-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.footer-link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus {
  color: #ffffff;
}

.footer .address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 20px;
}

.adress-text {
  color: #ffffff;
  margin-bottom: 9px;
}
/* ======================END FOOTER====================== */

/* main html */

/*======================HERO SECTION======================*/

.hero {
  background-color: #2f303a;
  color: var(--primary-bg-color);
  text-align: center;
}

.hero-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  color: #ffffff;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}

/* ======================END HERO SECTION====================== */

/*======================FEATURES======================*/

.hidden {
  display: none;
}

/* .features-section {
  margin-left: auto;
  margin-right: auto;
} */

.features-list {
  width: 1200px;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 47px;
}

.features-list .item + .item {
  padding-left: 30px;
}

.features-title {
  margin-bottom: 10px;
  margin-top: 0px;

  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 270px;
}
/* ======================END FEATURES====================== */

/* ======================WORK ACTIVITY====================== */

.work-activity {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.img-item {
  display: block;
}

.work-section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  padding-top: 47px;

  color: var(--secondary-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ======================END WORK ACTIVITY====================== */

/*======================TEAM SECTION======================*/
.team-section {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: #f5f4fa;
  color: var(--secondary-text-color);
}

.team-foto {
  display: block;
}

.team-position {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.title-command-description {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.03em;
}

.command-description {
  margin-bottom: 30px;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-list .team-item:not(:last-child) {
  margin-right: 30px;
}

/* ======================END TEAM SECTION */

/* portfolio */

/*======================OUR WORK SECTION======================*/

.list-of-our-works {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
}

.list-of-our-works .img {
  display: block;
}

.filter-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}

.filter-item:nth-child(3n) {
  margin-right: 0px;
}

.filter-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.filter {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding-top: 94px;
}

.filter .item:not(:first-child) {
  margin-left: 8px;
}

.filter-btn {
  height: 38px;
  border-radius: 4px;
  border: none;
  padding-left: 22px;
  padding-right: 22px;

  background-color: var(--primary-bg-color-filter);
  color: var(--secondary-text-color);
  font-family: inherit;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

.list-of-our-works .title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.description-of-work {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 4px;
}

.position-text {
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 20px;
}
/* ======================END OUR WORK SECTION====================== */ ;
